:host {
  display: block;

  .note_item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    gap: 5px;
    width: 650px;
    cursor: default;
    background-color: #fff;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }

  .note_item_content {
    font-size: 14px;
    font-weight: 400;
  }

  .note_item_title {
    font-weight: 600;
    font-size: 14px;
    color: #c3002e;
    margin-top: 5px;
  }

  .note_item_user {
    display: flex;
  }

  .note_item_user_info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .note_item_user_info_name {
    font-weight: 600;
    color: #363535;
    font-size: 15px;
  }

  .note_item_user_info_time {
    font-size: 13px;
    color: #8a8989;
    margin-top: -3px;
  }
}
