:host {
  display: block;

  .user_painel {
    min-width: 235px;
    background-color: #F3F4F6;
    border-radius: 5px;
    color: #616974;
    display: flex;
    align-items: center;
    padding: 15px;
  }

  .user_painel_info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .user_painel_name {
    font-weight: 600;
    font-size: 14px;
  }

  .user_painel_role {
    display: flex;
  }

  .user_painel_role_text {
    font-size: 13px;
    margin-top: -3px;
    font-weight: 500;
  }
}
