<app-dashboard-layout titleRoute="Notas públicas" descriptionRoute="Notas da comunidade">
    <div class="user_notes_list_container">
        @if(loadingNotes()) {
            <app-spinner />
        } @else {
            @for (item of publicNotes(); track $index) {
                <app-note-item-list [author]="item.author" [public]="item.public" [title]="item.title" [content]="item.content" [date]="item.created!"  />
            } @empty {
                <span>Sem notas públicas ainda..</span>
            }
        }
    </div>
</app-dashboard-layout>