<app-dashboard-layout titleRoute="Configurações" descriptionRoute="Configurações da conta">
    <div class="config_container">
        <div class="config_user_wallpaper_header">
            <img src="../../../assets/images/pexels-julius-silver-240301-753312.png" alt="wallpaper" />
            <div class="config_user_info">
                <div class="config_user_avatar">
                    <span>{{userName().charAt(0).toUpperCase()}}</span>
                </div>
                <span class="config_user_info_name">{{userName()}}</span>
                <span class="config_user_info_email">{{userEmail()}}</span>
            </div>
        </div>
        <div class="config_user_form">
            <div class="config_user_box">
                <h2 class="config_box_title">Editar configurações da conta:</h2>
                <app-config-edit-item (click)="handleClickMenu(1)" [firstItem]="true" style="margin-top: 10px;" label="Nome" [icon]="userIcon" />
                <app-config-edit-item (click)="handleClickMenu(2)" label="Email" [icon]="mailIcon" />
                <app-config-edit-item (click)="handleClickMenu(3)" label="Senha" [icon]="lockIcon" />
                <app-config-edit-item style="color: red;" label="Deletar conta" [icon]="trashIcon" />
            </div>

            @switch (selectedIndexMenu) {
                @case (1) {
                    <div class="config_user_box">
                        <h3 class="config_box_title">Alterar nome:</h3>
                        <form (ngSubmit)="changeNameUserFormSubmit()" class="config_box_form" [formGroup]="changeNameForm">
                            <app-form-sign-input [icon]="userIcon" [inputFormGroup]="changeNameForm" placeholder="Seu novo nome" inputLabel="Novo nome" inputControlName="name" />
                            <app-box-return-form style="margin-top: 8px;" [errorsMessage]="errorMessagesFormName()" />
                            @if(!loadingRequestForm()) {
                                <button type="submit" style="margin-top: 20px;" class="red_app_button" >Alterar</button>
                            } @else {
                                <app-spinner class="config_box_form_loading_spinner" />
                            }
                        </form>
                    </div>
                }
                @case (2) {
                    <div class="config_user_box">
                        <h3 class="config_box_title">Alterar email:</h3>
                        <form (ngSubmit)="changeEmailUserFormSubmit()" class="config_box_form" [formGroup]="changeEmailForm">
                            <app-form-sign-input [icon]="mailIcon" [inputFormGroup]="changeEmailForm" placeholder="Seu novo email" inputLabel="Email" inputControlName="newEmail" />
                            <app-box-return-form style="margin-top: 8px;" [errorsMessage]="errorMessagesFormEmail()" />
                            @if(!loadingRequestForm()) {
                                <button type="submit" style="margin-top: 20px;" class="red_app_button" >Alterar</button>
                            } @else {
                                <app-spinner class="config_box_form_loading_spinner" />
                            }
                        </form>
                    </div>
                }
                @case (3) {
                    <div class="config_user_box">
                        <h3 class="config_box_title">Alterar senha:</h3>
                        <form (ngSubmit)="changePasswordUserFormSubmit()" class="config_box_form" [formGroup]="changePasswordForm">
                            <app-form-sign-input [icon]="lockIcon" [inputFormGroup]="changePasswordForm" placeholder="Senha atual" inputLabel="Senha atual" inputControlName="oldPassword" typeInput="password" />
                            <app-form-sign-input style="margin-top: 5px;" [icon]="lockIcon" [inputFormGroup]="changePasswordForm" placeholder="Nova senha" inputLabel="Nova senha" inputControlName="newPassword" typeInput="password" />
                            <app-box-return-form style="margin-top: 8px;" [errorsMessage]="errorMessagesformPassword()" />
                            @if(!loadingRequestForm()) {
                                <button type="submit" style="margin-top: 20px;" class="red_app_button" >Alterar</button>
                            } @else {
                                <app-spinner class="config_box_form_loading_spinner" />
                            }
                        </form>
                    </div>
                }
            }
        </div>
    </div>
</app-dashboard-layout>