:host {
  display: block;

  .divider_or_container {
    display: flex; 
    align-items: center; 
    gap: 15px; 
    margin-top: 10px;
  }

  .divider_or_line {
    width: 150px; 
    height: 1px; 
    background-color: #ccc;
  }
}
