:host {
  display: block;

  .config_item_card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #fff;
    width: fit-content;
    min-width: 223px;
    max-width: 223px;
  }

  .config_item_card_title {
    font-weight: 600;
    font-family: "Poppins";
  }

  .config_item_card_description {
    font-size: 14px;
    color: #b1b1b1;
  }
}
