:host {
  display: block;

  form {
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: space-between;
    background-color: #f0f2f5;
  }

  .search_bar {
    padding: 7px 0px; 
    width: 100%;
  }

  input {
    border: none;
    font-family: Roboto;
    width: 98%;
    margin-left: 15px;
    background-color: transparent;
  }

  .search_icon_container {
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    background-color: #c3002e;
    color: #fff;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
  }

  .search_icon_container > ng-icon {
    margin-right: 5px;
  }
}
