:host {
  display: block;

  form {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #f0f2f5;
  }

  .search_bar {
    width: 90%;
  }

  input {
    border: none;
    font-family: Roboto;
    width: 98%;
    margin-left: 15px;
    background-color: transparent;
  }

  .search_icon_container {
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    background-color: #ED2748;
    color: #fff;
    border-radius: 25px;
  }
}
