:host {
  display: block;

  form {
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: space-between;
    background-color: #f9f8fd;
  }

  input {
    border: none;
    font-family: Roboto;
    width: 98%;
    margin-left: 15px;
    background-color: transparent;
  }

  .search_icon_container {
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    background-color: #c3002e;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }
}
