<form style="display: flex; flex-direction: column; gap: 10px;" [formGroup]="signInForm" (ngSubmit)="submitSignInForm()">
    
    <label>
        Nome: <input formControlName="name" />
    </label>
    
    @if(formSubmitted && name?.errors?.["errorMessage"]) {
        <span>{{ name?.errors?.["errorMessage"] }}</span>
    }

    <label>
        Senha: <input formControlName="password" />
    </label>

    @if(formSubmitted && password?.errors?.["errorMessage"]) {
        <span>{{ password?.errors?.["errorMessage"] }}</span>
    }

    <button style="width: 80px;" type="submit">Envia</button>
</form>