:host {
  display: block;

  .config_box_form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    height: fit-content;
  }

  .config_box_form_title {
    font-size: 17px;
    font-weight: 600;
  }

  .form_box_container {
    margin-top: 8px;
  }
}
