:host {
  display: block;
  
  .callback_error {
    font-size: 14px;
    color: red;
    margin: 5px;
  }

  .forgot_password_label {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 8px;
    cursor: pointer;
  }

  .forgot_password_label:hover {
    text-decoration: underline;
  }

  .button_sign_in {
    background-color: #c3002e;
  }
}
