<app-sign-layout>
    <form style="width: 80%;" [formGroup]="signInForm" (ngSubmit)="submitForm()">
        <app-form-sign-input style="margin-bottom: 6px;" [inputFormGroup]="signInForm" inputLabel="Usuário" [icon]="userIcon" placeholder="Digite seu nome" inputControlName="name" />
        @if(isSubmitted && name?.errors?.['errorMessage']) {
            <p class="callback_error">* {{name?.errors?.['errorMessage']}}</p>
        }
        <app-form-sign-input [inputFormGroup]="signInForm" inputLabel="Senha" [icon]="lockIcon" placeholder="Digite sua senha" typeInput="password" inputControllerName="password" inputControlName="password" />
        @if(isSubmitted && password?.errors?.['errorMessage']) {
            <p class="callback_error">* {{password?.errors?.['errorMessage']}}</p>
        }
        <span class="forgot_password_label">Esqueci minha senha</span>
        <button [style.marginTop]="'18px'" class="red_app_button">Entrar</button>
    </form>
    <app-divider-or />
    <button (click)="navigateToSignUp()" [style.width]="'300px'" [style.marginTop]="'10px'" class="app_button">Registrar</button>
</app-sign-layout>