:host {
  display: block;

  .modal_content_title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .note_content {
    max-width: 588px; 
    border: 1px solid #ccc;
    padding: 5px;
    height: 280px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word; 
    outline: none;
    margin-top: 5px;
  }
  
  .note_content:empty:before {
    content: attr(data-placeholder);
    color: #999;
  }

  .modal_buttons {
    display: flex;
    margin-top: 15px;
    gap: 15px;
  }

  .modal_cancel_button {
    width: 250px;
  }

  .modal_content_select_container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 15px;
    margin-top: 10px;
  }

  .modal_content_select {
    padding: 5px;
    border-radius: 5px;
  }

}
