<section>
    <header>
        <div class="header_container">
            <img class="site_logo_img" src="../../../assets/images/logo.png" />
            <nav class="header_nav">
                <ul>
                    <li routerLink="/notes" routerLinkActive="active">Suas notas</li>
                    <li routerLink="/public-notes" routerLinkActive="active">Notas públicas</li>
                    <li routerLink="/configuration" routerLinkActive="active">Configurações</li>
                </ul>
            </nav>
            <span [style.cursor]="'pointer'">Sair</span>
        </div>
    </header>
    <app-aside-drawer [isDrawerOpen]="showDrawNav()" [setDrawerOpen]="showDrawNav"/>
    <content class="dashboard_content_container">
        <ng-content />
    </content>
    <ng-icon (click)="toggleAside()" [style.cursor]="'pointer'" [svg]="menuIcon" size="20px" />
</section>