<section>
    <header>
        <div class="header_container">
            <img class="site_logo_img" src="../../../assets/images/logo.png" />
            <nav class="header_nav">
                <ul>
                    <li routerLink="/notes" routerLinkActive="active">Suas notas</li>
                    <li routerLink="/public-notes" routerLinkActive="active">Notas públicas</li>
                </ul>
            </nav>
            <div (click)="handleDrawer()" class="dashboard_user_mobile">
                <div class="dashboard_user_icon">
                    <span>{{userName().charAt(0).toUpperCase()}}</span>
                </div>
                <ng-icon [svg]="menuIcon" size='20px' />
            </div>
            <div (click)="openUserOptions = !openUserOptions" class="dashboard_user">
                <div class="dashboard_user_icon">
                    <span>{{userName().charAt(0).toUpperCase()}}</span>
                </div>
               @if(openUserOptions) {
                <div class="dashboard_user_options">
                    <span routerLink="/configuration">Configurações</span>
                    <span (click)="logout()">Sair</span>
                </div>
               }
            </div>
        </div>
    </header>
    <app-aside-drawer [drawerOpen]="showDrawNav"/>
    <content class="dashboard_content_container">
        <ng-content />
    </content>
</section>