:host {
  display: block;

  section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    font-family: Poppins, sans-serif;
  }
  
  header {
    min-height: 68px;
    display: flex;
    justify-content: center;
  }

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    align-self: center;
  }

  .site_logo_img {
    width: 165px;
    object-fit: contain;
  }

  .header_nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    margin-right: 110px;
  }

  .header_nav ul li.active {
    color: #ED2748;
    font-weight: 600;
  }

  .header_nav ul li {
    font-size: 15px;
    cursor: pointer;
  }

  .dashboard_content_container {
    width: 100%;
    height: 100%;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 765px) {
    aside {
      display: none;
    }
  }

  @media (max-width: 365px) {
    .dashboard_header {
      font-size: 14px;
    }
  }
}