<app-dashboard-layout>
    <div class="home_content">
        <div class="home_content_header">
            <app-note-tools-bar />
            <app-search-bar [inputWidth]=400 />
        </div>
        <div class="home_content_notes">
            <div class="home_content_notes_header">
                <span class="home_content_notes_title">Todas as notas</span>
                <div class="home_content_notes_sort">
                    <span>Ordenar por</span>
                    <span class="home_content_notes_selected_sort">Data</span>
                    <ng-icon [svg]="arrowDownIcon" size="20px" />
                </div>
                <span>Total: 5 notas</span>
            </div>
            <div class="home_content_notes_list">
                <app-note-item-list [title]="'Meu título'" [content]="'Meu conteúdo'" [date]="'15/04/2024'" />
            </div>
        </div>
    </div>
</app-dashboard-layout>