:host {
  display: block;

  .home_content_notes_sort {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .home_content_notes_selected_sort {
    color: #3E8EF0;
    font-weight: 600;
  }

  .home_content_notes_sort > ng-icon {
    cursor: pointer;
  }

  .home_content {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .home_content_header {
    display: flex;
    width: 100%;
    height: 125px;
    align-items: center;
    justify-content: space-between;
  }

  .home_content_notes_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home_content_notes {
    margin-top: -10px;
  }

  .home_content_notes_title {
    font-weight: 600;
  }

  .home_content_notes_list {
    margin-top: 20px;
  }
}
