* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}

.app_button {
    width: 100%;
    border: none;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.callback_error {
    font-size: 14px;
    color: red;
  }

.red_app_button {
    @extend .app_button;
    color: #fff;
    background-color: #c3002e;
}

input:focus {
    outline: none;
}
