* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}

.app_button {
    width: 100%;
    border: none;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.callback_error {
    font-size: 14px;
    color: red;
  }

.red_app_button {
    @extend .app_button;
    color: #fff;
    background-color: #c3002e;
}

.search_bar_container {
    height: fit-content;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    align-items: center;
    margin-top: 10px;
    width: 50vw;
}

input:focus {
    outline: none;
}

@media (max-width: 899px) {
    .search_bar_container {
        width: 70vw;
    }
}

@media (max-width: 459px) {
    .search_bar_container {
        width: 80vw;
    }
}

@media (max-width: 327px) {
    .search_bar_container {
        width: 90vw;
    }
}