:host {
  display: block;
}

nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  top: 0;
  right: -240px;
  background-color: #333; 
  padding-top: 15px;
  transition: right 0.3s ease; 
}

nav ul {
  list-style: none;
  padding: 0px;
  margin-top: 10px;
}

nav ul li {
  padding: 10px;
}

nav ul li {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.show-drawer {
  right: 0;
} 

.aside_drawer_title {
  color: #fff;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  right: 240px;
  width: 100%;
  height: 100%;
  z-index: 999; 
  display: none; 
}

.show-overlay {
  display: block; 
}
