:host {
  display: block;

  .user_notes_header {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .user_notes_list_container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
