<app-dashboard-layout titleRoute="Notas" descriptionRoute="Suas notas">
    <div class="user_notes_list_container">
        @if(loadingNotes()) { 
            <app-spinner />
        } @else {
            @for (item of userNotes(); track $index) {
                <app-note-item-list [selected]="$index === indexSelectedNote()" (click)="setNoteSelected($index)" [public]="item.public" [author]="userName()" [title]="item.title" [content]="item.content" [date]="item.created!"/>
            } @empty {
                <span>Nenhuma nota criada ainda</span>
            }
        }
    </div>
    <app-fab-button (deleteSelectedNote)="deleteSelectedNote($event)" [isEditNote]="isEditNote" [openCreateEditNoteModal]="addEditNoteModalOpen" [showSubButtons]="indexSelectedNote() !== null" />
    @if (addEditNoteModalOpen()) {
        <app-create-edit-note-modal (successFormEvent)="updateNotesUser($event)" [noteSelected]="handleNoteSelected()" [isEdit]="isEditNote()" [isEdit]="isEditNote()" [setOpenCreateEditNoteModal]="addEditNoteModalOpen" />
    }
</app-dashboard-layout>