<app-dashboard-layout titleRoute="Notas" descriptionRoute="Suas notas">
    <div class="search_bar_container">
        <app-search-bar style="width: 95%;" placeholder='Pesquisar por título'/>
    </div>
    <div class="user_notes_list_container">
        @for (item of userNotes(); track $index) {
            <app-note-item-list (click)="setNoteSelected($index)" author="Marco luca" [title]="item.title" [content]="item.content" [date]="(item.created | date:'dd/MM/yyyy')!"/>
        }
    </div>
    <app-fab-button [isEditNote]="isEditNote" [openCreateEditNoteModal]="addEditNoteModalOpen" [showSubButtons]="true" />
    @if (addEditNoteModalOpen()) {
        <app-create-edit-note-modal [isEdit]="isEditNote()" [setOpenCreateEditNoteModal]="addEditNoteModalOpen" />
    }
</app-dashboard-layout>