:host {
  display: block;
  
  .input_container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    gap: 5px;
    width: 100%;
  }

  .input_container > input {
    border: none;
  }
}
